<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock Market Sync</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/stocks-view.js"></script>

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size: 210%;">Stock Market Sync</h1>
            <div id="canvas-holder">
                <canvas id="chart-area" width="480" height="300" />
            </div>
            <div align="center">
            <div id="stock-tickers" style="display:inline-block;"></div>
            <form action="">
             <input id="message-in" autocomplete="off" /><button style="color:black;">Add</button>
            </form>
            </div>
        </div>
    </div>
    <div align="center">
        <div style="font-size: 80%;"><a href="https://github.com/dMcGaa/stock-market-view">GitHub: dMcGaa</a></div>
    </div>

</body>

</html>